html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #002B36;
	padding: 20px;
	box-sizing: border-box;
}

/* textarea */

textarea {
	background: transparent;
	border: 0px;
	color: #fff;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: monospace;
	outline: none;
	resize: none;
	font-size: 13px;
}

/* code box when locked */

#box {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border: 0px;
	outline: none;
}

#box code {
	padding: 0px;
	background: transparent !important; /* don't hide hastebox */
}

/* key */

#key {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: +1000; /* watch out */
}

#box1 {
	padding: 5px;
	text-align: center;
	background: #00222b;
}

#box2 {
	background: #08323c;
	font-size: 0px;
	padding: 0px 5px;
}

#box1 a.logo, #box1 a.logo:visited {
	display: inline-block;
	background: url(logo.png);
	width: 126px;
	height: 42px;
}

#box1 a.logo:hover {
	background-position: 0 bottom;
}

#box2 .function {
	width: 32px;
	height: 37px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	opacity: 0.3;
	transition: opacity 0.2s ease;
}

#box2 .link embed {
	vertical-align: bottom; /* fix for zeroClipboard style */
}

#box2 .function svg {
	color: #c4dce3;
	display: block;
}

#box2 .function.enabled {
	opacity: 0.5;
}

#box2 .function.enabled:hover {
	cursor: hand;
	cursor: pointer;
	opacity: 1;
}

#box2 .function.enabled:hover svg {
	color: #d33682;
	display: block;
}

#pointer {
	display: block;
	height: 5px;
	width: 10px;
	background: url(hover-dropdown-tip.png);
	bottom: 0px;
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
}

#box3 {
	background: #173e48;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	padding: 10px 15px;
}

#box3 .label {
	color: #fff;
	font-weight: bold;
}

#box3 .shortcut {
	color: #c4dce3;
	font-weight: normal;
}

